@media screen and (max-width: 991.5px) {
    nav > ul {
        display: none; 
    }
    nav > button {
        order: -1;
    }
    .logo {
        position: absolute;
        left: 4.5rem;
        top: 1.7rem;
    }
    h1 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 940px) {
    nav, header {
        width: 42rem;
    }
    main {
        width: 41.5rem;
        gap: 4rem;
    }
}

@media screen and (max-width: 680px) {
    nav, header {
        width: 25.5rem;
    }
    main {
        width: 25rem;
        flex-direction: column;
        align-items: center;
    }
    .modal-content {
        width: 22rem;
    }
    .close { 
        top: -10%;
        right: 0;
    }
    .offcanvas {
        width: 60%;
    }
}

@media screen and (max-width: 440px){
    .logo {
        margin-left: -1.8rem;
    }
    .orders {
        right: 3.3rem;
    }
    nav {
        padding: 0 0.5rem;
    }
    header, nav {
        border: none;
        width: 100%;
    }
    .avatar {
        right: 0.3rem;
    }
    main, .images {
        position: relative;
        width: 100%;
        padding: 0;
        margin-top: -0.5rem;
        gap: 1rem;
    }
    .images__big {
        border-radius: 0;
    }
    .images__big:hover {
        cursor:default;
    }
    .row {
        display: none;
    }
    .tiny {
        display: block;
        position: absolute;
        top: 60%;
    }
    .tiny.prev {
        left: 0.8rem;
    }
    .tiny.next {
        right: 0.8rem;
    }
    .prev, .next {
        width: 2rem;
        height: 2rem;
        padding: 0;
    }
    .content {
        width: 100%;
        padding: 1.5rem;
    }
    h1 {
        font-size: 1.8rem;
    }
    .prices {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .buttons {
        flex-direction: column;
        align-items: stretch;
        gap: 0.5rem;
    }
    .button-group, .add {
        width: 100%;
    }
}
