* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}
html {
    height: 100%;
}
body {
    min-height: 100%;
    font-size: 16px;
}
header {
    width: 75%;
    height: 6rem;
    margin: auto;
    border-bottom: 1px solid hsl(220, 14%, 75%);
}

nav {
    width: 75%;
    height: 5rem;
    margin: 0 auto;
}

.logo:hover {
    cursor: pointer;
}
ul {
    width: 60%;
    display: flex;
    align-items: center;
    align-self: stretch;
    height: 100%;
    margin-top: 0.2rem;
}
li {
    list-style-type: none;
    margin-right: 2%;
    padding: 2.3rem 0;
    color: black;
    opacity: 0.6;
}
li:hover {
    cursor: pointer;
    border-bottom: 3px solid hsl(26, 100%, 55%);
    margin-bottom: -3px;
    opacity: 1;
    
}

.orders {
    opacity: 0.5;
    position: absolute;
    right: 4rem;
}
.orders:hover {
    opacity: 0.7;
    cursor: pointer;
}
.avatar {
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    right: 0;
}
.avatar:hover {
    cursor: pointer;
    outline: 2px solid hsl(26, 100%, 55%);
    border-radius: 50%;
}

/* Main Body */

main {
    width: 70%;
    margin: 4.5rem auto;
    display: flex;
    justify-content: center;
    gap: 5rem;
}
.images {
    width: 25rem;
}
.images__big{
    width: 100%;
    border-radius: 10px;
}
.row {
    display: flex;
    margin-top: 1rem;
}
.row > .column {
    width: 25%;
}
.images__small{
    width: 100%;
    border-radius: 10px;
}
.selected {
    outline: 3px solid hsl(26, 100%, 55%);
}
.content {
    width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}
h1, h4, h6 {
    font-weight: 700;
}
.company {
    color: hsl(26, 100%, 55%);
    opacity: 0.8;
    margin-bottom: -0.3rem;
}
h1 {
    font-size: 2.4rem;
    
}
h6 {
    font-size: 0.8rem;
}
.definition {
    font-size: 0.8rem;
}
.price {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}
.discount {
    display: inline-block;
    color: hsl(26, 88%, 62%);
    background-color: hsl(25, 100%, 94%);
    font-size: 16px;
    padding: 0.2rem 0.3rem;
    border-radius: 3px;
}
.old-price {
    color: hsl(220, 14%, 75%);
    text-decoration: line-through;
    margin-top: -1.2rem;
}
.buttons {
    display: flex;
    font-weight: 900;
    justify-content: space-between;
}
.button-group {
    background-color: hsl(223, 64%, 98%);
    width: 35%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0.5rem 1rem;
    font-size: 14px;
    border-radius: 10px;
}
.increase, .decrease {
    font-size: 24px;
    color: hsl(26, 100%, 55%);
}
.add {
    width: 60%;
    background-color: hsl(26, 100%, 55%);
    color: hsl(0, 0%, 100%);
    border: none;
    padding: 0.8rem 2rem;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 900;
}
.add img {
    filter:  brightness(0) invert(1);
    width: 1rem;
    vertical-align: baseline;
    margin-right: 1rem;
}

.increase:hover, 
.decrease:hover,
.add:hover,
.images__small:hover {
    opacity: 0.6;
    cursor: pointer;
}

  
  /* The Modal (background) */
  .modal {
    display: none;
    position: fixed;
    z-index: 5;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: hsla(0, 0%, 0%, 0.8);
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: hsla(0, 0%, 100%, 0);
    margin: auto;
    padding: 0;
    width: 30rem;
    max-width: 1200px;
    border: none;
    
  }
  
  /* The Close Button */
  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Hide the slides by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 44%;
    width: 2.7rem;
    height: 2.7rem;
    padding-top: 0.4rem;
    margin-top: -50px;
    color: #000;
    background-color: #FFF;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 50%;
    user-select: none;
    -webkit-user-select: none;
    text-align: center;
  }
  .prev {
    left: -1.4rem;
  }
  /* Position the "next button" to the right */
  .next {
    top: 44%;
    right: -1.4rem;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    color: hsl(26, 100%, 55%);
  }
  
 
  
  .thumbnails {
      display: flex;
      justify-content: center;
      width: 90%;
      margin: 1.5rem auto;
      gap: 1.5rem;
  }
  .thumbnail_col {
    width: 5rem;
    text-align: center;
    background-color: hsla(0, 0%, 100%, 1);
    border-radius: 10px;
  }
  img.demo {
    width: 100%;
    border-radius: 10px;
  }
  
  img.demo:hover{
    opacity: 0.6;
  }
  
  img.hover-shadow {
    transition: 0.3s;
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }


@media screen and (max-width: 991.5px) {
    nav > ul {
        display: none; 
    }
    nav > button {
        order: -1;
    }
    .logo {
        position: absolute;
        left: 4.5rem;
        top: 1.7rem;
    }
    h1 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 940px) {
    nav, header {
        width: 41.5rem;
    }
    main {
        width: 41.5rem;
        gap: 4rem;
    }
}